<html>
  <head>
    <title>Time Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script type="module">
      // @ts-check
      const UNIX_EPOCH_START_SECONDS = 62167219200 // Start of the Common Era, derived from the start of the Unix Epoch
      const BEATS_PER_SECOND = 9_192_631_770 / 8_000_000_000
      const UNIX_EPOCH_BEATS = UNIX_EPOCH_START_SECONDS * BEATS_PER_SECOND
      const BEATS_PER_DAY = 100_000 // 100 kilobeats
      const BEATS_PER_CYCLE = BEATS_PER_DAY * 50 // 5 megabeats
      const BEATS_PER_ERA = BEATS_PER_CYCLE * 20 // 100 megabeats

      function dateToBeats(d) {
        return (d.getTime() / 1000) * BEATS_PER_SECOND + UNIX_EPOCH_BEATS
      }
      function beatsToDate(b) {
        return new Date(
          (b / BEATS_PER_SECOND - UNIX_EPOCH_START_SECONDS) * 1000,
        )
      }
      const DAY_LABELS = [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday',
      ]
      function formatBeats(beats) {
        const era = Math.floor(beats / BEATS_PER_ERA)
        const eraFraction = beats % BEATS_PER_ERA
        const cycle = Math.floor(eraFraction / BEATS_PER_CYCLE)
        const cycleFraction = eraFraction % BEATS_PER_CYCLE
        const day = Math.floor(cycleFraction / BEATS_PER_DAY)
        const dayFraction = cycleFraction % BEATS_PER_DAY
        return {
          era,
          cycle,
          cycleLabel: cycle * 5,
          day,
          dayLabel: day == 49 ? 'JUBILEE' : DAY_LABELS[day % 7],
          dayFraction,
        }
      }

      function updateDom(containerId, newContents) {
        const e = document.getElementById(containerId)
        if (e == null) {
          console.error(`Cannot find DOM element with ID ${containerId}`)
        } else {
          e.innerHTML = newContents
        }
      }

      /** @type {{ date: Date, phase: string }[]} */
      let moonPhases = []

      /**
       * Fetch info about the phases of the moon
       * @param {string} url
       *
       * https://aa.usno.navy.mil/data/api#phase
       */
      async function fetchMoonPhases(url) {
        const rs = await fetch(url)
        if (!rs.ok) {
          console.error('Failed to fetch moon phase data')
          console.log(rs)
          return
        }
        const data = await rs.json()

        /** @type {{ day: number, month: number, phase: string, time: string, year: number }[]} */
        const rawPhases = data.phasedata

        moonPhases = moonPhases.concat(
          rawPhases.map((r) => {
            const iso = `${r.year}-${String(r.month).padStart(2, '0')}-${String(r.day).padStart(2, '0')}T${r.time}Z`
            return {
              date: new Date(iso),
              phase: r.phase,
            }
          }),
        )
        moonPhases.sort((a, b) => a.date.getTime() - b.date.getTime())
        console.log(moonPhases)
      }
      const thisYear = new Date().getFullYear()
      fetchMoonPhases(
        `https://aa.usno.navy.mil/api/moon/phases/year?year=${thisYear}`,
      )
      fetchMoonPhases(
        `https://aa.usno.navy.mil/api/moon/phases/year?year=${thisYear - 1}`,
      )
      fetchMoonPhases(
        `https://aa.usno.navy.mil/api/moon/phases/year?year=${thisYear + 1}`,
      )

      const start = new Date()
      const solarTimeCache = {}

      /**
       * Fetch data about the current solar day
       * @param {Date} targetDay
       *
       * https://aa.usno.navy.mil/data/api#rstt
       */
      async function getSunriseSunset(targetDay) {
        const tz = targetDay.getTimezoneOffset() / -60
        const tzLabel =
          tz < 0
            ? `-${String(tz * -1).padStart(2, '0')}:00`
            : `+${String(tz).padStart(2, '0')}:00`
        const dateKey = `${targetDay.getFullYear()}-${targetDay.getMonth() + 1}-${targetDay.getDate()}`
        if (typeof solarTimeCache[dateKey] != 'undefined')
          return solarTimeCache[dateKey]
        const rs = await fetch(
          'https://aa.usno.navy.mil/api/rstt/oneday?' +
            new URLSearchParams({
              date: dateKey,
              coords: '41.85,-87.68',
              tz: String(tz),
            }),
        )
        if (!rs.ok) {
          throw new Error('Failed to fetch solar info for today')
        }
        const raw = await rs.json()
        const data = raw.properties.data
        const sunrise = new Date(
          `${data.year}-${String(data.month).padStart(2, '0')}-${String(data.day).padStart(2, '0')}T${data.sundata[1].time}${tzLabel}`,
        )
        const sunset = new Date(
          `${data.year}-${String(data.month).padStart(2, '0')}-${String(data.day).padStart(2, '0')}T${data.sundata[3].time}${tzLabel}`,
        )
        solarTimeCache[dateKey] = [sunrise, sunset]
        return [sunrise, sunset]
      }

      function tick() {
        const now = new Date()
        const nowBeats = dateToBeats(now)
        const formattedNowBeats = formatBeats(nowBeats)

        if (moonPhases.length > 0) {
          // Find the next upcoming lunar phase
        }

        getSunriseSunset(now).then(([sunrise, sunset]) => {
          if (now.getTime() < sunrise.getTime()) {
            // next upcoming event is sunrise today
            const secondsDelta = (sunrise.getTime() - now.getTime()) / 1000
            updateDom(
              'solar-day',
              `<p>Sunrise will happen in ${Math.floor(secondsDelta * BEATS_PER_SECOND).toLocaleString()} beats</p>`,
            )
          } else if (now.getTime() < sunset.getTime()) {
            // next upcoming event is sunset today
            const secondsDelta = (sunset.getTime() - now.getTime()) / 1000
            updateDom(
              'solar-day',
              `<p>Sunset will happen in ${Math.floor(secondsDelta * BEATS_PER_SECOND).toLocaleString()} beats</p>`,
            )
          } else {
            // next upcoming event is sunrise tomorrow
            const tomorrow = new Date(now.getTime() + 24 * 60 * 60 * 1000)
            getSunriseSunset(tomorrow).then(([sunrise, sunset]) => {
              const secondsDelta = (sunrise.getTime() - now.getTime()) / 1000
              console.log('sunrise', sunrise, sunrise.getTime(), secondsDelta)
              updateDom(
                'solar-day',
                `<p>Sunrise will happen in ${Math.floor(secondsDelta * BEATS_PER_SECOND).toLocaleString()} beats</p>`,
              )
            })
          }
        })

        updateDom(
          'day-progress',
          Math.floor(formattedNowBeats.dayFraction).toLocaleString(),
        )
        updateDom(
          'current-era-details',
          `${formattedNowBeats.dayLabel}, day ${formattedNowBeats.day} of cycle ${formattedNowBeats.cycleLabel}, era ${formattedNowBeats.era}<br />${Math.floor(nowBeats).toLocaleString()} beats`,
        )
        updateDom('current-time-gregorian', now.toLocaleString())

        window.setTimeout(() => requestAnimationFrame(tick), 200)
      }
      tick()
    </script>
    <style type="text/css">
      p {
        padding: 0;
        margin: 1rem 0;
      }
      section {
        max-width: 50em;
        margin: 0 auto;
        border: solid 1px #111;
        padding: 2em;
        text-align: center;
      }
      section > h1:first-child {
        margin-top: 0;
      }
      section > p:last-child {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
    <section id="current-time">
      <h1>Current Time</h1>
      <p id="day-progress" style="font-size: 5rem"></p>
      <p id="current-era-details"></p>
      <p id="current-time-gregorian"></p>
    </section>
    <section id="solar-day"></section>
  </body>
</html>
